doctype html
html
	head
		title Login
		include includes/style.pug
	body
		if error
			div.error#errorOverlay #{error}
		div.login-container
			img(class="logo-large", src="/Logo.png")
			div.login
				h1 Login
				form(action="/login", method="post")
					input(type="text", name="user" placeholder="Username/Email")
					br
					input(type="password", name="pass" placeholder="Password")
					br
					br
					div.login-btn
						span 
							img.rhlogo(src="/vendor/Robinhood_Logo.png")
						input.button(type="submit", value="Login with Robinhood")
					br
					small Or 
						a(href="https://signup.robinhood.com") sign up
						|  with an account